# Do not share your OpenAI API key with anyone! It should remain a secret.
OPENAI_API_KEY=
# Do not share your Spotify Client ID and Secret with anyone! It should remain a secret.
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=